[Unit]
Description=barcode scanner service
After=network.target

[Service]
User=root
Restart=always
RestartSec=3

ExecStart=/usr/local/bin/node /home/pi//aiot/barcode_scanner/app.js

[Install]
WantedBy=multi-user.target
